.error {
    color: red;
    background-color: #f2c3c3;
    width: 100%;
}

.post-container {
    border: bottom 1px solid #aeaeae;
    margin-bottom: 5px;
    margin-top: 10px;
}

.post-header {
    border: bottom 1px solid #aeaeae;
}

.post-subject {
    display: inline;
    margin-right: 10px;
    color: #475f94;
}

.display-inline {
    display: inline;
}