{% extends "base.html" %}

{% block content %}
  {% for post in posts %}
  <div class="row post-container">
    <div class="col-sm-12">
        <h2 class="post-subject">{{post.subject}}</h2>
        {% if post.likes.count() > 0 %}
            <span class="glyphicon glyphicon-thumbs-up"></span>
            &nbsp;{{post.likes.count()}} users like this
        {% else %}
            No Likes Yet
        {% endif %}
        <h4>By {{post.author.username}}</h4>
    </div>
    <div class="col-sm-12">
        <pre class="post-body">{{post.content}}</pre>
    </div>
  </div>
  {% endfor %}

{% endblock %}